@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot');
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff2') format('woff2'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff') format('woff'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.ttf') format('truetype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: 500;
    font-style: normal;
}

#app {
    font-family: Raleway, sans-serif;
}

span {
    font-weight: 500;
}
