@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot');
    src: url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff2') format('woff2'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.woff') format('woff'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.ttf') format('truetype'),
    url('../assets/fonts/raleway/heavy/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: 500;
    font-style: normal;
}

#app {
    font-family: Raleway, sans-serif;
    background-color: #b07cf7;
    min-height: 100vh;
}

.app-blog {
    padding: 100px 0;
}

.blog-header {
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-bottom: 45px;
}

.blog-title {
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 25px;
}

.blog-description {
    font-weight: 300;
    font-size: 17px;
}

.blog-post {
    height: 307px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
